.about-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width:100%;
    margin-top:30px;
    }
    
#about-head-text{
    position: relative;
    color:#152D41;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4px;
    text-align: center;
    margin-top: 34px;
    }
    
.person p{
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    position: relative;
    padding-bottom: 40px;
    text-align: justify;    
    }

.person:nth-of-type(odd) p{
    text-align: justify;   
    }
    
.person h3{
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
    text-align: center;  
    }

.person{
    margin: 40px 14px;
    }

.avatar{
    background-image: url(https://picsum.photos/200/200/?random);
    margin:auto;
    width: 199px;
    height: 199px;
    border-radius:50%;
    box-shadow:  5px 5px 10px white ;
    align-items:center;
    }

.person:nth-of-type(even)  .avatar{
    background-image: url(https://picsum.photos/200/201/?random);
}

@media(min-width:1024px){  
    
.person:nth-of-type(even) p {
    text-align: left;
    margin-left: 250px;
    display:flex;
    align-items: center;
    
    }
.person:nth-of-type(odd) p {
    text-align: right;
    margin-right: 250px;
    display:flex;
    align-items: center;
    }

.person:nth-of-type(odd){
    flex-direction: row;   
    }

.person:nth-of-type(odd) p { 
    text-align: right;
    margin-right: 250px;
    } 

.person:nth-of-type(even) h3 {
    text-align: left;
    margin-left: 250px;
    }      

.person:nth-of-type(odd) h3 {
    text-align: right;
    } 

.person:nth-of-type(even) .avatar{
        float: left;
        margin-bottom: 50px;
    }

.person:nth-of-type(odd) .avatar{
        float: right;
        margin-bottom: 50px;
    }
               
.person:nth-of-type(odd) h3 {
    text-align: right;
    margin-right: 250px;
    }   

.person:nth-of-type(even){
    display: inline-block;
    vertical-align: middle;
    }   

#about-head-text {
    text-align: left;
    }
}

            


         
            
    